<main class="contenedor">
  <form action="/register" method="POST" class="default-form">
    <div class="campo">
      <label for="nombre">Nombre</label>
      <input type="text" name="nombre" placeholder="Ingresa tu nombre..." />
    </div>
    <div class="campo">
      <label for="email">Email</label>
      <input type="email" name="email" placeholder="Tu email..." />
    </div>
    <div class="campo">
      <label for="password">Password</label>
      <input
        type="password"
        name="password"
        placeholder="Entre 6 y 12 caracteres"
      />
    </div>
    <div class="campo">
      <label for="confirmar">Repetir password</label>
      <input
        type="password"
        name="confirmar"
        placeholder="Ingrese nuevamente su password"
      />
    </div>
    <input type="submit" value="Crear cueta" class="btn btn-azul" />
    <div class="acciones">
      <a href="/login">Ya tienes cuenta ?, inicia sesion.</a>
      <a href="/login">Olvidate tu password ?, click aqui.</a>
    </div>
  </form>
</main>