<main class="contenedor">
  <form action="/reset-password" method="POST" class="default-form">
    <div class="campo">
      <label for="">Email</label>
      <input type="email" name="email" placeholder="Tu email" />
    </div>
    <input type="submit" value="Enviar" class="btn btn-azul" />
    <div class="acciones">
        <a href="/login">Ya tienes cuenta ?, inicia sesion.</a>
      <a href="/register">No tienes cuenta ?, registrate.</a>
      
    </div>

  </form>
</main>