<main class="lista-candidatos">
  <h2>Lista Candidatos</h2>
  {{#if candidatos.length}}
    {{#each candidatos}}
      <div class="candidato">
        <div class="caja">
          <p class="etiqueta">Nombre:</p>
          <p class="nombre">{{nombre}}</p>
        </div>
        <div class="caja">
          <p class="etiqueta">Email:</p>
          <p class="nombre">{{email}}</p>
        </div>
        <div class="caja">
          <a href="/uploads/cvs/{{cv}}" class="btn btn-verde">Ver CV</a>
        </div>
      </div>
    {{/each}}
  {{else}}
    <p>No hay candidatos aún :C</p>
  {{/if}}
</main>